#container{ width:950px; position:relative; margin:0 auto;}
.box{ padding-top:11px; padding-left:10px; background:url(../images/searchbg02.jpg) no-repeat; width:940px; height:47px;}
.text{ padding-left:10px; width:160px; height:18px; line-height:18px; border:1px solid #ccc; float:left;}
.btn01{display:block; background:url(../images/btn-lan.gif) no-repeat; width:77px; height:18px;padding-bottom:4px; border:none;  color:#fff; cursor:pointer; letter-spacing:2px; display:inline; margin-left:5px; margin-top:2px; line-height:18px; font-size:13px;}

.bs{ position:absolute; left:780px; top:18px;}
.bs a{display:block; width:10px; height:9px; margin-right:10px; float:left; display:inline;}
.bs .a1{ background:url(../images/hua.gif) no-repeat;}
.bs .a2{ background:url(../images/lv.gif) no-repeat;}
.bs .a3{  background:url(../images/lan2.gif) no-repeat;}
